/* 
Study Hall Stylesheet v1.0
Last Updated: 2017-Mar-25
Author: Jorge Rodriguez http://jitorodriguez.com,
and mentored by William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body {
	background-color: #9EBBA6;
	color: #08291D;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.container-fluid {
	background-color: #030302;
}
.navbar-default {
	border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #030302;
	color: #FFFFFF;
}
.navbar-default .navbar-brand {
	color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .visited > a,
.navbar-default .navbar-nav > .visited > a:focus,
.navbar-default .navbar-nav > .visited > a:hover {
	background-color: #030302;
	color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #9EBBA6;
	color: #08291D;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
	background-color: #030302;
	color: #9EBBA6;
}
.centered {
	text-align: center;
}
.left {
	float: left;
}
.right {
	float: right;
}
@media (min-width: 300px) {

}
@media (min-width: 500px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
	
}

#login-container .form-login{
    background-color: #ffa500;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#FFA500;
    border-width: 5px;
    box-shadow:0 2px 0 #cfcfcf;
}

#login-container .cntr-container {
    margin: auto;
    width: 40%;
    padding: 10px;
}

#login-container .center-text {
    text-align: center;
}

#login-container .form-control {
    border-radius: 10px;
    margin: auto;
    width: 92%;
}
#login-container h3 {
	color: red;
	font-size: 12px;
}

#map-events {
	height: 480px;
}