<div ng-controller="EventController as eventCtrl">
	<div class="row">
		<div class="col-lg-5 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Event: </th>
						<td>{{eventCtrl.eventData.event['name']}}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Start: </th>
						<td>{{eventCtrl.eventData.event['start_time']}}</td>
					</tr>
					<tr>
						<th>End: </th>
						<td>{{eventCtrl.eventData.event['end_time']}}</td>
					</tr>
					<tr>
						<th>Address: </th>
						<td>{{eventCtrl.eventData.event['specificName']}}</td>
					</tr>
					<tr>
						<th>Description: </th>
						<td>{{eventCtrl.eventData.event['description']}}</td>
					</tr>
					<tr ng-if="eventCtrl.eventData.event['creatorName']">
						<th>Contact Name: </th>
						<td>
							{{eventCtrl.eventData.event['creatorName']}}
						</td>
					</tr>
					<tr ng-if="eventCtrl.eventData.event['phone_num']">
						<th>Contact Phone: </th>
						<td>
							{{eventCtrl.eventData.event['phone_num']}}
						</td>
					</tr>
					<tr ng-if="eventCtrl.eventData.event['email']">
						<th>Contact Email: </th>
						<td>
							{{eventCtrl.eventData.event['email']}}
						</td>
					</tr>
					<tr ng-if="eventCtrl.eventData.event['rso_name']">
						<th>RSO Group: </th>
						<td>
							{{eventCtrl.eventData.event['rso_name']}}
						</td>
					</tr>
					<tr ng-if="eventCtrl.state.userId === eventCtrl.eventData.event['s_id']">
						<th></th>
						<td>
							<button class="col-lg-6 btn btn-primary" ng-click="eventCtrl.editEvent()">Edit <span class="fa fa-edit"></span></button>
							<button class="col-lg-6 btn btn-danger" ng-click="eventCtrl.deleteEvent()">Delete <span class="fa fa-trash"></span></button>
						</td>
					</tr>
					<tr ng-if="eventCtrl.state.role">
						<th></th>
						<td>
							<button class="col-lg-6 btn btn-success" ng-click="eventCtrl.acceptEvent()">Accept <span class="fa fa-thumbs-o-up"></span></button>
							<button class="col-lg-6 btn btn-danger" ng-click="eventCtrl.rejectEvent()">Reject <span class="fa fa-thumbs-o-down"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-7 no-padding-right">
			<div id="map-event"></div>
		</div>
		<div class="col-lg-12 no-padding-left">
			</br>
			<h3>Comments:</h3>
			<div class="panel panel-default">
				<div class="panel-heading">USERNAME </div>
				<div class="panel-body">SAMPLE COMMENT
				</div>
				<p class="text-right no-padding-bottom date-styling">DATE</p>
			</div>
		</div>
	</div>
</div>