<!-- <div ng-controller="EventsController as eventsCtrl">
	<div id="nav" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<ul>
			<li><h2>Event Note</h2></li>
			<li><div class="btn-nav" ng-if="mainCtrl.isLoggedIn" ng-click="eventsCtrl.getEventList()" ng-init="eventsCtrl.isPublicEvents=true">Public Core Events</div></li>
			<li><div class="btn-nav" ng-if="mainCtrl.isLoggedIn" ng-click="eventsCtrl.getEventList()">Private Core Events</div></li>
			<li><div class="btn-nav" ng-if="mainCtrl.isLoggedIn" ng-click="eventsCtrl.getEventList()">RSOs</div></li>
		</ul>
	</div>
</div> -->