<div ng-controller="LoginController as loginCtrl">
	<div class="cntr-container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12 center-text">
	            <div class="form-login">
		            <h4>EventNote Login</h4>
		            <input type="text" id="userName" ng-model="loginCtrl.user" ng-init="loginCtrl.user=''" class="form-control input-sm chat-input" placeholder="username" />
		            <div ng-if = "!loginCtrl.falseInputUser"></br></div>
		            <div ng-if = "loginCtrl.falseInputUser" >
		            	<h3>USERNAME must be provided.</h3>
		            </div>
		            <input type="text" id="userPassword" ng-model="loginCtrl.pass" ng-init="loginCtrl.pass=''" class="form-control input-sm chat-input" placeholder="password" />
		            <div ng-if = "!loginCtrl.falseInputPass"></br></div>
		            <div ng-if = "loginCtrl.falseInputPass" >
		            	<h3>PASSWORD must be provided.</h3>
		            </div>
		            <div ng-if = "loginCtrl.loginData.errorLogin" >
		            	<h3>Incorrect username or password.</h3>
		            </div>
		            <div class="wrapper">
			            <button class="btn btn-primary btn-md" ng-click="loginCtrl.loginActivate()">login</button>
		            </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>