<div ng-controller="LoginController as loginCtrl">
	<div class="cntr-container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12 center-text">
	            <div class="form-login">
		            <h4>EventNote Login</h4>
		            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
		            </br>
		            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
		            </br>
		            <div class="wrapper">
			            <button class="btn btn-primary btn-md" ng-click="loginCtrl.loginActivate()">login</button>
		            </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>