<div ng-controller="RegisterController as RegisterCtrl">
  <form class="form-horizontal center-register">
    <fieldset>
      <div id="legend">
        <legend class="">Register</legend>
      </div>

      <div class= "form-register">
        <div class="control-group">
          <!-- E-mail -->
          <label class="control-label" for="email">E-mail*</label>
          <div class="controls">
            <input type="text" id="email" ng-model="RegisterCtrl.email" ng-init="RegisterCtrl.email=''" placeholder="University E-mail" class="input-xlarge">
          </div>

          <div ng-if = "RegisterCtrl.noEmail">
            <h3>Email required for registration. Please provide University approved e-mail.</h3>
          </div>

        </div>

        <div class="control-group">
          <!-- First Name -->
          <label class="control-label" for="firstName">First Name</label>
          <div class="controls">
            <input type="text" id="firstName" ng-model="RegisterCtrl.fName" ng-init="RegisterCtrl.fName=''" name="firstName" placeholder="First Name" class="input-xlarge">
          </div>
        </div>

        <div class="control-group">
          <!-- Last Name -->
          <label class="control-label"  for="lastName">Last Name</label>
          <div class="controls">
            <input type="text" id="lastName" ng-model="RegisterCtrl.lName" ng-init="RegisterCtrl.lName=''" name="lastName" placeholder="Last Name" class="input-xlarge">
          </div>
        </div>

        <div class="control-group">
          <!-- Username -->
          <label class="control-label"  for="username">Username*</label>
          <div class="controls">
            <input type="text" id="username" ng-model="RegisterCtrl.user" ng-init="RegisterCtrl.user=''" placeholder="Username" class="input-xlarge">
          </div>

          <div ng-if = "RegisterCtrl.noUser">
            <h3>Please provide username for registration.</h3>
          </div>

        </div>
     
        <div class="control-group">
          <!-- Password-->
          <label class="control-label">Password*</label>
          <div class="controls">
            <input type="password" id="userPassword" ng-model="RegisterCtrl.pass" ng-init="RegisterCtrl.pass=''" placeholder="Password" class="input-xlarge">
          </div>

          <div ng-if = "RegisterCtrl.noPass">
            <h3>Please provide password for registration.</h3>
          </div>

        </div>
     
        <div class="control-group">
          <!-- Password -->
          <label class="control-label">Password* (Confirm)</label>
          <div class="controls">
            <input type="password" id="userPassword_confirm" ng-model="RegisterCtrl.passConfirm" ng-init="RegisterCtrl.passConfirm=''" placeholder="Password (Confirm)" class="input-xlarge">
          </div>

          <div ng-if = "RegisterCtrl.noConfirm">
            <h3>Please provide confirmation of password.</h3>
          </div>
          <div ng-if = "RegisterCtrl.falsePassCompare">
            <h3>Password and confirmation do not match. Please try again.</h3>
          </div>


        </div>

        <div class="control-group">
          <!-- Major -->
          <label class="control-label" for="major">Major</label>
          <div class="controls">
            <input type="text" id="major" ng-model="RegisterCtrl.major" ng-init="RegisterCtrl.major=''" placeholder="Major" class="input-xlarge">
          </div>
        </div>

        <div class="control-group">
          <!-- Minor -->
          <label class="control-label" for="minor">Minor</label>
          <div class="controls">
            <input type="text" id="minor" ng-model="RegisterCtrl.minor" ng-init="RegisterCtrl.minor=''" placeholder="Minor" class="input-xlarge">
          </div>
        </div>

        <div class="control-group">
          <!-- Bio -->
          <label class="control-label" for="bio">Bio</label>
          <div class="controls">
            <textarea rows="5" cols="50" ng-model="RegisterCtrl.bio" ng-init="RegisterCtrl.bio=''"></textarea>
            <!--<input type="text" id="bio" name="bio" class="bigfield" placeholder="Tell us about yourself">-->
          </div>
        </div>
     
        </br>
        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary btn-md" ng-click="RegisterCtrl.registerActivate()">Register</button>
          </div>
          </br>
          <div class="controls">
            <button class="btn btn-primary btn-md" ng-click="RegisterCtrl.toLogin()">Return To Login</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<!-- ng-click="RegisterCtrl.registerActivate()"-->
<!-- ng-click="RegisterCtrl.returnToLogin()"-->