<div ng-controller="RSOController as rsoCtrl">
	<div class="row">
		<div class="col-lg-5 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>RSO Group: </th>
						<td>{{rsoCtrl.rsoData.group['name']}}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Organizer: </th>
						<td>{{rsoCtrl.rsoData.group['creatorName']}}</td>
					</tr>
					<tr>
						<th>Description: </th>
						<td>{{rsoCtrl.rsoData.group['description']}}</td>
					</tr>
					<tr ng-if="rsoCtrl.state.userId === rsoCtrl.rsoData.group['s_id']">
						<th></th>
						<td>
							<button class="col-lg-6 btn btn-primary" ng-click="rsoCtrl.editRSO()">Edit <span class="fa fa-edit"></span></button>
							<button class="col-lg-6 btn btn-danger" ng-click="rsoCtrl.deleteRSO()">Delete <span class="fa fa-trash"></span></button>
						</td>
					</tr>
					<tr ng-if="rsoCtrl.state.userId !== rsoCtrl.rsoData.group['s_id']">
						<th></th>
						<td>
							<button class="col-lg-12 btn btn-primary" ng-click="rsoCtrl.joinRSO()">Join <span class="fa fa-handshake-o"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="rso-group-banner" class="col-lg-7 no-padding-right">
			<div id="rso-group-banner-symbol" class="fa fa-group"></div>
			<div id="rso-group-banner-inner">
				{{rsoCtrl.rsoData.group['name'] | uppercase}}
			</div>
		</div>
	</div>
</div>