<div ng-controller="RSOCreateController as RSOCreateCtrl">
	<form class="form-horizontal formAlignment">
		<fieldset>
			<div id="legend">
				<legend class="">{{RSOCreateCtrl.RSOCreateData.mode}} Registered Student Organization</legend>
			</div>
		</fieldset>

	<div class="form-register">
		<div><h2>Registered Student Organization Information:</h2></div>
		<hr/>
	<!-- Name of Event -->
		<div class ="row form-element form-group">
			<div class ="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<p>RSO Name*:</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-9">
			  <input type="text" id="email" ng-model="RSOCreateCtrl.RSOCreateData.name" placeholder="e.g 'The Awesome Festival!'" class="form-control">
			</div>
		</div>
		<div ng-if = "RSOCreateCtrl.falseInputRSO" >
			<h3>RSO Name required.</h3>
		</div>
		<div ng-if = "!RSOCreateCtrl.falseInputRSO"></br></div>

	<!-- Event Description -->
		<div class ="row form-element form-group">
			<div class ="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<p>Description:</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-9">
				<textArea name="description" id="email" class="form-control" ng-model="RSOCreateCtrl.RSOCreateData.description" placeholder="Tell us about your event" rows="10" cols="27"></textArea>
			</div>
		</div>
		</br>

		<div class="row form-element form-group">
			<button ng-if="RSOCreateCtrl.RSOCreateData.mode === 'Create'" class="btn btn-primary col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" ng-click="RSOCreateCtrl.createActivate()">Create RSO!</button>
			<button ng-if="RSOCreateCtrl.RSOCreateData.mode === 'Edit'" class="btn btn-primary col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" ng-click="RSOCreateCtrl.editActivate()">Submit Edit!</button>
		</div>

		<div ng-if = "RSOCreateCtrl.RSOCreateData.failure" >
			<h3>RSO Not Registered Successfully. Please review information provided.</h3>
		</div>
	</div>
	<!-- Map Module for Location Selection -->
	</form>
	</br>
</div>
<!-- ng-click="RegisterCtrl.registerActivate()"-->
<!-- ng-click="RegisterCtrl.returnToLogin()"-->